<h2> <%= @muscle_group.name %> </h2>

<ul>
<% @.workouts.each do |workout| %>
  <li><%= workout.name %></li>
  <%= workout.description %>
<% end %>
</ul>

<!-- show equipment.workouts and musclegroup.workouts the same between the two  -->